<main class="container">
  <mat-drawer-container [hasBackdrop]="sideDrawerHasBackdrop" class="sidedrawer-container">
    <mat-drawer #sidedrawer [(opened)]="sideDrawerOpened" [mode]="$any(sideDrawerMode)">
      <section class="left-panel">
        <h4 class="sidedrawer-title">Menu:</h4>
        <nav class="nav-menu">
          <mat-divider class="sidedrawer-divider"></mat-divider>
          <span class="nav-link">
            <mat-icon color="primary">dashboard</mat-icon>
            <a routerLink="/dashboard">Dashboard</a>
          </span>
          <mat-divider class="sidedrawer-divider"></mat-divider>
          <span class="nav-link">
            <mat-icon color="primary">movies</mat-icon>
            <a routerLink="/movies">Movies</a>
          </span>
        </nav>
      </section>
    </mat-drawer>
    <mat-drawer-content>
      <section class="right-panel">
        <app-toolbar [title]="titleToolbar" (onToggleSidenav)="onToggleSideDrawer($event)"></app-toolbar>
        <div class="router-outlet-container">
          <router-outlet></router-outlet>
        </div>
      </section>
    </mat-drawer-content>
  </mat-drawer-container>
</main>

