.container {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  width: 100%;
}

.container .sidedrawer-container {
  width: 100%;

  .sidedrawer-title {
    padding: 5px 10px;
    text-align: left;
  }
}

.container .left-panel {
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  height: 100vh;

  .nav-menu {
    padding-top: 5px;
  }

  .nav-menu .nav-link {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    text-align: left;
    background-color: #070037;

    a {
      margin-left: 10px;
    }

    &:hover {
      background-color: #a9a9a9;
    }

    &.active {
      background-color: #a9a9a9;
    }

    &.visited {
      background-color: #a9a9a9;
    }
  }

  .nav-menu .nav-link a:visited {
    color: rgb(255, 255, 255);
  }

  .nav-menu .nav-link a:link,
    .nav-menu .nav-link a:visited,
    .nav-menu .nav-link a:hover,
    .nav-menu .nav-link a:active {
    text-decoration: none;
  }
}

.container .right-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
}

